<section class="detail-page mt-5">
        <div class="container">        
            <div class= "post-content">
                <h1 class="post-content__title">{{ post.title }}</h1>
                <div class="post-content__info-user">
                    <h5>author</h5>
                    <p>{{ post.createdAt }}</p>
                </div>
                <div class="post-content__body">
                    {{ post.content }}
                </div>
            </div>
        </div>
</section>
